# Ignore editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system and temporary files
.DS_Store
Thumbs.db
*.swp
*.swo
*.log

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# air tmpl files
/tmp

# templates tmp
templates/assets

# Ignore node_modules directory
node_modules

# Ignore build output directory
/dist

# Ignore development server logs
/webpack-dev-server.log

# Ignore environment specific files
.env
.env.local
.env.*.local

# Ignore dependency lock files
package-lock.json
yarn.lock
